<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
    		<title>Java Web Application</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    		<link rel="stylesheet" type="text/css" th:href="@{/css/meteo.css}" />
		</head>
		
		<body>
			<nav>
				<ul>
					<a href="/accueil"><li class="navbarLink" style="float:left;">Accueil</li></a>
					<li class="navbarLink" style="float:right;">Code source</li>
				</ul>
			</nav>
    	
			<div id="contenu">
				<h2>Bienvenue sur le projet météo !</h2>
				<p>Vous n'avez qu'à entrer le nom d'une ville dans la case ci-dessous afin d'obtenir diverses informations.</p>

				<form action="#" th:action="@{/projet/meteo}" th:object="${meteoData}" method="post">

					<div id="container">
						<p>
							Nom de la ville<br>
							<input type="text" th:field="*{nomVille}" /><br>
							<input id="bouton"type="submit" value="Obtenir informations" />
						</p>				
					</div>
					
				</form>
			</div>

			
		</body>
	</html>