<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
    		<title>Java Web Application</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		<link rel="stylesheet" type="text/css" th:href="@{/css/meteoResultat.css}" />
		</head>
		
		<body>
			<nav>
				<ul>
					<li class="navbarLink" style="float:left;">Accueil</li>
					<li class="navbarLink" style="float:right;">Code source</li>
				</ul>
			</nav>
    	
			<div id="contenu">
                <p>
                    Données météorologiques pour <span class="gras" th:text="${meteoData.nomVille}"/>
                </p>

                <section>
                    <p>
                        Température actuelle : <span th:text="${temp}"/><br>
                        Pression actuelle : <span th:text="${pression}"/><br>

                    </p>
                </section>
			</div>

			
		</body>
	</html>