<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org" th:style="'background-image:url(' + ${path_image} + ');background-size: cover;'">
		<head>
    		<title>Java Web Application</title>
			<meta http-equiv="Content-Type" content="text/html;"/>
			<meta charset="UTF-8"/>
			<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    		<link rel="stylesheet" type="text/css" th:href="@{/css/meteoResultat.css}" />
		</head>
		
		<body>
			<nav>
				<ul>
					<li style="float:left;"><a href="/">Accueil</a></li>
					<li style="float:right;"><a href="https://github.com/Dhalias/InformationsVilles" target="_blank">Code source</a></li>
				</ul>
			</nav>
    	
			<div id="contenu">
                <p>
                    Données météorologiques pour <span class="gras" th:text="${meteoData.nomVille}"/>
                </p>

                <section>
                    <table>
						<tbody>

							<tr>
								<th colspan="2">Informations météorologiques</td>
							</tr>

							<tr>
								<td>Température actuelle : </td>
								<td><span th:text="${temp}+ ' °C'"/></td>
								
							</tr>

							<tr>
								<td>Pression atmosphérique : </td>
								<td><span th:text="${pression}+ ' hPa'"/></td>
							</tr>

							<tr>
								<td>Humidité : </td>
								<td><span th:text="${humidite}+ ' %'"/></td>
							</tr>

							<tr>
								<td>Vent : </td>
								<td><span th:text="${vent}+ ' m/s'"/></td>
							</tr>

							<tr>
								<th colspan="2">Informations géographiques</td>
							</tr>

							<tr>
								<td>Pays : </td>
								<td><span th:text="${pays}"/></td>
							</tr>

							<tr>
								<td>Longitude : </td>
								<td><span th:text="${longitude}"/></td>
							</tr>

							<tr>
								<td>Latitude : </td>
								<td><span th:text="${latitude}"/></td>
							</tr>

						</tbody>
					</table>
				</section>
				</div>
				<section style="display: flex;flex-direction: column;">
                   <div class="article-journal" th:each="rows: ${article}">
						<a th:href="@{${rows[2]}}">
							<img  style="margin-right: 5px;"height="75" width="125" align="left" th:src="@{${rows[3]}}" />
							<span style="font-weight: bold;"th:text="${rows[0]}"></span><br>
							<span style="font-size: small;"th:text="${rows[1]}"></span>
						</a>
					</div>
                </section>
			

			
		</body>
	</html>